<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/img/front_img.png', alt='Profile Picture')
        .dev-intro-box

          //- Replace with your name
          h5 Mariana Teixiera

          //- Replace with description of who you are, what you do, and why you are so awesome
          p Ewes mushrooms zucchini in forage Harvester at sheep with tractor. Ewes fox, hay hook hay manure, John Deere radish barn, a hay loft house at pony. Garden windmill chicks, hen at corn in, lettus a peppers. Pick up truck livestock, pets and storage shed, troughs feed bale manure, is garde.

          //- Add path from your '/about' route handler to the href below
          a(href='') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Mariana

      block content

  script(src='/static/js/script.js')