extends layout.pug

block content
    nav.nav
      a.back(href='/')
        span &larr;
        |  Back
    h1.error= err.status 
    h2.error= err.message
   

    nav.nav
      a.back(href='/')
        span &larr;
        |  Back
    