extends layout.pug

block content
    nav.nav
      a(href='/')
        span &larr;
        |  Back
    h1.not-found= err.status 
    h2.not-found= err.message
    p Page not found

    nav.nav
      a(href='/')
        span &larr;
        |  Back
    